<html>
  <head>
    <!-- <script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/183ca11d779a8e9c723851d11/bdfbea7d6d5d518e805668697.js");</script> -->
  </head>
  <body>
    <h1>Sign up to my news letter!</h1> 
    <form action="/signup" method="POST">
      <input type="email" name="email" id="email" 
      placeholder="Enter Your Email" 
    >
      <input type="submit" value="notify" class="button" >
    </form>
  </body>
</html>